# Ignore all .log files
*.log
*.csv
*.jason
*.idea

# Ignore everything in a  directory
config/*
data/*
trade_results/*
venv/*


# Files
chromedriver.exe
youtube_token.pickle
__pycache__/*

/trade_results/
