# Ignore specific directories and everything inside them
config/
data/
trade_results/
venv/
logs/
__pycache__/
.idea/
placeholder_config/
placeholder_log/
placeholder_data/

# Specific files to ignore
chromedriver.exe
.pre-commit-config.yaml
