# Ignore all log, CSV, and JSON files
*.log
*.csv
*.json

# Ignore specific directories and everything inside them
config/
data/
trade_results/
venv/
__pycache__/

# Specific files to ignore
chromedriver.exe
